<!--###TEMPLATE###-->
<!-- ###ENTETE_FAIBLE###-->
<p>
	<ul>
		<li>
			###TXT_NIVEAU_IDENT_FAIBLE### <a href="###URL_PASSAGE_IDENT_FORT###">###LABEL_CLIC_A###</a>.
		</li>
		<li>
			###TXT_CHGT_PASSWD###, <a href="###URL_CHGT_PASSWD###">###LABEL_CLIC_B###</a>.
		</li>
	</ul>
</p>
<!--###ENTETE_FAIBLE###-->

<!--###ENTETE_FORT###-->
<p>
	<ul>
		<li>
			###TXT_CHGT_PASSWD###, <a href="###URL_CHGT_PASSWD###">###LABEL_CLIC_ICI###</a>.
		</li>
	</ul>
</p>
<!--###ENTETE_FORT###-->
<!--###SEPARATEUR###-->
<div style="position:relative;width:100%;height:20px;margin-top:10px;margin-bottom:10px;float:left;">
<hr>
</div>
<!--###SEPARATEUR###-->

<!--###VOTRE_COMPTE###-->
<div id="votre_compte">
	<fieldset>
		<legend>Votre compte</legend>
		<div id="contenuBox">
			<p>
			###TITRE### ###PRENOM### ###NOM### <br/>
			###ADRESSE### <BR/>
			###COMPLEMENT_ADRESSE###
			###CP### ###VILLE### <br/>
			###EMAIL###<br/>
			</p>
		</div>

		<a id="boutonURL" style="color:white;text-decoration:none" href="###URL_MODIF_COMPTE###">###LABEL_MODIFIER###</a>
	</fieldset>
</div>
<!--###VOTRE_COMPTE###-->
<!--###VOTRE_COMPTE_NO_MODIF###-->
<div id="votre_compte">
	<fieldset>
		<legend>Votre compte</legend>
		<div id="contenuBox">
			<p>
			###TITRE### ###PRENOM### ###NOM### <br/>
			###ADRESSE### <BR/>
			###COMPLEMENT_ADRESSE###
			###CP### ###VILLE### <br/>
			###EMAIL###<br/>
			</p>
		</div>
	</fieldset>
</div>
<!--###VOTRE_COMPTE_NO_MODIF###-->
<!--###VOTRE_COMPTE_PERSONNEL_HN###-->
<div id="votre_compte">
	<fieldset>
		<legend>Votre compte</legend>
		<div id="contenuBox">
			<p>
			###TITRE### ###PRENOM### ###NOM### <br/>
			###ADRESSE### <BR/>
			###COMPLEMENT_ADRESSE###
			###CP### ###VILLE### <br/>
			###EMAIL### <br/>
			</p>
		</div>
	</fieldset>
</div>
<!--###VOTRE_COMPTE_PERSONNEL_HN###-->
<!--###CREDIT_POINT###-->
<div id="credit_points">
	<fieldset>
		<legend>Votre cr&eacute;dit de points</legend>
		<div id="contenuBox">
			<p>Actuellement, ###INFO_POINTS###
		</div>
		<a id="boutonURL" style="color:white;text-decoration:none" href="###URL_ACHAT_POINT###">Acheter</a>
	</fieldset>
</div>
<!--###CREDIT_POINT###-->
<!--###PREF_PORTAIL###-->
<div id="pref_portail">
	<fieldset>
		<legend>Vos pr&eacute;f&eacute;rences portail</legend>
		<div id="contenuBox" style="height:64px;">
			<p>###CONTENT###</p>
		</div>
		<a id="boutonURL" style="color:white;text-decoration:none;" href="javascript:document.tx_fabformmail_pi1fname.submit();">Modifier</a>
	</fieldset>
</div>
<!--###PREF_PORTAIL###-->
<!--###FACTURES_FORT###-->
<div id="factures">
	<fieldset>
		<legend>Vos factures</legend>
		<div id="contenuBox">
			<p>###CONTENT###</p>
			<div style="width:100%">
				<a id="boutonURL" style="display:block;margin:3px;float:right;color:white;text-decoration:none" target="_blank" href="###URL_CONULTER_FACTURES_AVOIRS###">T&eacute;l&eacute;charger mes factures et avoirs</a>
			</div>
		</div>
	</fieldset>
</div>
<!--###FACTURES_FORT###-->
<!--###FACTURES_FAIBLE###-->
<div id="factures">
	<fieldset>
		<legend>Vos factures</legend>
		<div id="contenuBox">
			<p>###CONTENT###</p>
			<a id="boutonURL" class="titleHover" style="margin:3px;float:right;color:white;text-decoration:none" target="_blank" href="###URL_CONULTER_FACTURES_AVOIRS###">T&eacute;l&eacute;charger mes factures et avoirs</a>
		</div>
	</fieldset>
</div>
<!--###FACTURES_FAIBLE###-->
<!--###NAISSANCES###-->
<div id="naissances">
	<fieldset>
		<legend>Vos naissances</legend>
		<div id="contenuBox">
			<p>###CONTENT###</p>
			<div style="width:100%">
				<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none" href="###URL_DECLA_NOUVELLE_NAISSANCE###" target="_blank">Consulter - G&eacute;rer vos naissances</a>
			</div>
			<div style="width:100%">
				<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none" href="###URL_DECLA_RESULT_NEGATIF###" target="_blank">D&eacute;clarer un r&eacute;sultat n&eacute;gatif</a>
			</div>
			<div style="width:100%">
				<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none" href="###URL_CONSULT_DOSSIER###">Consulter un dossier d'&eacute;levage</a>
			</div>
		</div>
	</fieldset>
</div>
<!--###NAISSANCES###-->
<!--###SAILLIES###-->
<div id="saillies">
	<fieldset>
		<legend>Vos saillies</legend>
		<div id="contenuBox">
			<p>###CONTENT###</p>
			<div style="width:100%;float:right">
				<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none" href="###URL_GERER_SAILLIES###" target="_blank">Consulter - G&eacute;rer vos saillies</a>
			</div>
			<div style="width:100%;float:right">
				<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none" href="###URL_EDITER_ATTESTATIONS_CERTIFICATS###" target="_blank">Editer attestations et certificats</a>
			</div>
			<div style="width:100%;float:right">
				<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none;" target="_blank" href="###URL_SUIVI_SANITAIRE###">Suivi sanitaire</a>
			</div>
		</div>
	</fieldset>
</div>
<!--###SAILLIES###-->
<!--###SAILLIESFAIBLE###-->
<div id="saillies">
	<fieldset>
		<legend>Vos saillies</legend>
		<div id="contenuBox">
			<p></p>
			<a id="boutonURL" style="margin:3px;float:right;color:white;text-decoration:none;" target="_blank" href="###URL_SUIVI_SANITAIRE###">Suivi sanitaire</a>
		</div>
	</fieldset>
</div>
<!--###SAILLIESFAIBLE###-->
<!--###LIEUX_DETENTION###-->
<div id="lieux_detention">
	<fieldset>
		<legend>Vos lieux de d&eacute;tention</legend>
		<div id="contenuBox">
			<p>###CONTENT###</p>
		</div>
		<a id="boutonURL" style="float:right;color:white;text-decoration:none" href="###URL_GESTION_LIEUX_DETENTION###">Consulter - G&eacute;rer</a>
	</fieldset>
</div>
<!--###LIEUX_DETENTION###-->
<!--###CHEVAUX###-->
<div id="chevaux">
	<fieldset>
		<legend>Vos chevaux</legend>
			<div style="float:right;width:330px">
				<p>Annonces S.O.S poulain.
				<div style="float:right;margin:2px;">
					<a id="boutonURL" style="margin:3px;color:white;text-decoration:none" href="###URL_AJOUT_SOS_POULAIN###">Ajouter</a>
					<a id="boutonURL" style="margin:3px;color:white;text-decoration:none" href="###URL_MODIF_SOS_POULAIN###">Modifier</a>
				</div>
				</p>
			</div>
			<div style="float:right;width:330px;margin-top:0px">
				<p>Vos annonces chevaux &agrave; vendre.
				<div style="float:right;margin:2px;">
					<a id="boutonURL" target="_blank" style="margin:3px;color:white;text-decoration:none" href="###URL_ANNONCE_CHEVAUX_AJOUTER###">Ajouter</a>
					<a id="boutonURL" target="_blank" style="margin:3px;color:white;text-decoration:none" href="###URL_ANNONCE_CHEVAUX_MODIFIER###">Modifier</a>
				</div>
				</p>
			</div>
	</fieldset>
</div>
<!--###CHEVAUX###-->
<!--###CHEVAUXFAIBLE###-->
<div id="chevauxfaible">
	<fieldset>
		<legend>Vos chevaux</legend>
			<div style="float:left;width:330px">
				<p>Annonces S.O.S poulain.
				<div style="float:right;margin:2px;">
					<a id="boutonURL" style="margin:3px;color:white;text-decoration:none" href="###URL_AJOUT_SOS_POULAIN###">Ajouter</a>
					<a id="boutonURL" style="margin:3px;color:white;text-decoration:none" href="###URL_MODIF_SOS_POULAIN###">Modifier</a>
				</div>
				</p>
			</div>
			<div style="float:left;width:330px;margin-top:0px">
				<p>Vos annonces chevaux &agrave; vendre.
				<div style="float:right;margin:2px;">
					<a id="boutonURL" target="_blank" style="margin:3px;color:white;text-decoration:none" href="###URL_ANNONCE_CHEVAUX_AJOUTER###">Ajouter</a>
					<a id="boutonURL" target="_blank" style="margin:3px;color:white;text-decoration:none" href="###URL_ANNONCE_CHEVAUX_MODIFIER###">Modifier</a>
				</div>
				</p>
			</div>
	</fieldset>
</div>
<!--###CHEVAUXFAIBLE###-->
<!--###CENTRE_TECHNIQUE###-->
<div id="centre_technique">
	<fieldset>
		<legend>Votre interlocuteur des Haras nationaux le plus proche</legend>
			###NOM###<br/>
			###TEXT###
			<span id='adresseCT'>###ADRESSE###</span>
			<span id='adresseCT'>###ADRESSE2###</span>
			<span id='codepostalCT'>###CP###</span>
			<span id='communeCT'>###VILLE###</span>
			<br/>
			###TEL### ###FAX### ###PORT### ###MAIL###
	</fieldset>
</div>
<!--###CENTRE_TECHNIQUE###-->
<!--###SERVICES_VETO_IDENT###-->
<div id="services_veto_ident">
	<fieldset>
		<legend>Services accessibles sur internet</legend>
		<div id="contenuBox">
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_TRANSPONDEUR###" target="_blank">   Transpondeur / Signalement codifi&eacute;   </a></div>
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_LABOGENA###" target="_blank">Formulaire labogena</a></div>
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_CONTROLE###" target="_blank">   Contr&ocirc;le d'identit&eacute;   </a></div>
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_COMMANDER###">   Commander des formulaires   </a></div>
		</div>
	</fieldset>
</div>
<!--###SERVICES_VETO_IDENT###-->
<!--###SERVICES_INTERNET_MINIMUM###-->
<div id="services_internet_mini">
	<fieldset>
		<legend>Services accessibles sur internet</legend>
		<div id="contenuBox">
			<p>&nbsp;</p>
			<a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;margin-left:30px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_CONTROLE###" target="_blank">Contr&ocirc;le d'identit&eacute;</a>
		</div>
	</fieldset>
</div>
<!--###SERVICES_INTERNET_MINIMUM###-->
<!--###SERVICES_PERSONNEL_HN###-->
<div id="services_personnel_hn">
	<fieldset>
		<legend>Services internes HN</legend>
		<div id="contenuBox">
			<p>&nbsp;</p>
			<a id="boutonURL" target="_blank" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_WEBMAIL###" target="_blank">Webmail</a>
			<a id="boutonURL" target="_blank" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_GDP###">Gestion de projets</a>
			<a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;margin-left:30px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_INFO_CHEVAL###">Informations d'un cheval</a>
		</div>
	</fieldset>
</div>
<!--###SERVICES_PERSONNEL_HN###-->
<!--###SERVICES_PERSONNEL_HN_PLUS###-->
<div id="services_personnel_hn">
	<fieldset>
		<legend>Services internes HN</legend>
		<div id="contenuBox">
			<a id="boutonURL" target="_blank" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_WEBMAIL###" target="_blank">Webmail</a>
			<a id="boutonURL" target="_blank" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_GDP###">Gestion de projets</a>
		</div>
	</fieldset>
</div>
<div id="services_identifications">
	<fieldset>
		<legend>Services identification</legend>
		<div id="contenuBox">
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_INFO_CHEVAL###">Informations d'un cheval</a></div>
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_TRANSPONDEUR###" target="_blank">   Transpondeur / Signalement codifi&eacute;   </a></div>
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_LABOGENA###" target="_blank">Formulaire labogena</a></div>
			<div style="width:100%;float:right"><a id="boutonURL" style="margin-top:3px;margin-bottom:3px;margin-right:3px;float:right;color:white;text-decoration:none;display:run-in;" href="###URL_CONTROLE###" target="_blank">   Contr&ocirc;le d'identit&eacute;   </a></div>
		</div>
	</fieldset>
</div>
<!--###SERVICES_PERSONNEL_HN_PLUS###-->
<!--###TEMPLATE###-->